body {
  --main-bg: #EBEBEB;
  background: var(--main-bg);
  font-family: arial;
  height: 100vh;
  width: 100vw;
  display: flex;
}

#search {
  height: 18rem;
  background: #EBEBEB;
  width: 70rem;
  padding-left: 2rem;
  border-radius: 10rem;
  font-size: 7rem;
}

nav > a img {
  height: 12rem;
  width: 12rem;
}

header {
  display: flex;
  width: 100%;
  height: 30rem;
  background: #FFFFFF;
  padding: 0 5rem;
  justify-content: space-between;
}

section {
  display: flex;
  gap: 2rem;
  align-items: center;
}

section>img {
  height: 20rem;
  width: 20rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.main-nav a {
  padding: 5rem 8rem;
}

.user>a {
  padding: 6rem;
  border-radius: 50%;
  background: var(--main-bg);
}
